[Unit]
Description=go-remote service
Requires=network-online.target
After=network-online.target

# TODO: make sure /mnt/go-remote is writeable

[Service]
Type=simple
ExecStart=/usr/local/bin/go-remote -server -key '<base64-key>' -tmpfs /mnt/go-remote -port 80
Restart=always
User=go-remote
Group=go-remote

DynamicUser=true
PrivateUsers=true
ProtectKernelLogs=true
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
SystemCallFilter=~@chown
SystemCallFilter=~@keyring
SystemCallFilter=~@memlock
SystemCallFilter=~@setuid
DeviceAllow=
ProcSubset=pid

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
RestrictAddressFamilies=AF_INET
RestrictNamespaces=true
NoNewPrivileges=true
PrivateTmp=true
ProtectClock=true
ProtectKernelModules=true
ProtectProc=noaccess
ProtectHostname=true
RestrictRealtime=true
SystemCallArchitectures=native

SystemCallFilter=~@clock
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@privileged
SystemCallFilter=~@resources

SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@obsolete

LockPersonality=true

MemoryDenyWriteExecute=true

UMask=0077

PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true
ReadWritePaths=/etc/ufw/user.rules
ReadWritePaths=/etc/ufw/user6.rules

[Install]
WantedBy=multi-user.target
